*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --base: #ffc600;
  --spacing: 5rem;
  --blur: 1rem;
  --fontFam: "helvetica neue", sans-serif;
}

/*================= ================
        FOR WIDTH BELOW 800
=================== ================*/
.gridContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 8rem auto 6rem;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-row-gap: 0.5rem;
  width: auto;
  height: 100vh;
  margin: 0 auto;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5rem 3rem;
  grid-template-areas:
    "title"
    "navigation";
  font-size: 1.6rem;
  border: 0.1rem solid;
}

.content {
  grid-area: content;
  border: 0.1rem solid;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3rem 3rem;
  grid-template-areas:
    "footerNav"
    "author";
  border: 0.1rem solid;
}

/*=================
  START HEADER LAYOUT
===================*/
.title {
  grid-area: title;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  background: red;
  border: 0.1rem solid;
}

.nav ul {
  display: flex;
  align-self: center;
  list-style-type: none;
}

.nav li {
  margin: 0 0.5rem;
  color: white;
}
/*=================
  END HEADER LAYOUT
===================*/

/*=================
START FOOTER LAYOUT
===================*/
.footerNav {
  grid-area: footerNav;
  display: flex;
  font-size: 1.6rem;
  background: red;
}

.footerNav ul {
  display: flex;
  align-self: center;
  list-style-type: none;
}

.footerNav li {
  margin: 0 0.5rem;
  color: white;
}

.author {
  grid-area: author;
  align-self: center;
  text-align: center;
}
/*=================
  END FOOTER LAYOUT
===================*/

/*================= ================
        FOR WIDTH ABOVE 800
=================== ================*/
@media (min-width: 801px) {
  .gridContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8rem auto 6rem;
    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-row-gap: 0.5rem;
    width: 100rem;
    height: 100vh;
    margin: 0 auto;
  }

  .header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5rem 3rem;
    grid-template-areas:
      "title"
      "navigation";
    font-size: 1.6rem;
    border: 0.1rem solid;
  }

  .content {
    grid-area: content;
    font-size: 5rem;
    font-family: var(--fontFam);
    border: 0.1rem solid;
  }

  .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3rem 3rem;
    grid-template-areas:
      "footerNav"
      "author";
    border: 0.1rem solid;
  }

  /*=================
  START HEADER LAYOUT
===================*/
  .title {
    grid-area: title;
    text-align: center;
  }

  .nav {
    grid-area: navigation;
    display: flex;
    justify-content: flex-end;
    background: red;
    border: 0.1rem solid;
  }

  .nav ul {
    display: flex;
    align-self: center;
    list-style-type: none;
  }

  .nav li {
    margin: 0 0.5rem;
    color: white;
  }
  /*=================
  END HEADER LAYOUT
===================*/

  /*=================
START FOOTER LAYOUT
===================*/
  .footerNav {
    grid-area: footerNav;
    display: flex;
    font-size: 1.6rem;
    background: red;
  }

  .footerNav ul {
    display: flex;
    align-self: center;
    list-style-type: none;
  }

  .footerNav li {
    margin: 0 0.5rem;
    color: white;
  }

  .author {
    grid-area: author;
    align-self: center;
    text-align: center;
  }
  /*=================
  END FOOTER LAYOUT
===================*/
}

img {
  margin: 1rem;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.js {
  color: var(--base);
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  cursor: pointer;
}
